

body {
    background-color: #2D2F43;
    color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

.singleArticleText{
    text-align: center;
}

nav{
   
        display: flex;
        flex-direction: row;
        margin: 20px auto;
        gap: 16px;
        max-width: fit-content;
       
        
}

.navItems {
    
    border: solid;
    padding: 20px;
    border-radius: 9%;

}

a {
    color: #FFFFFF;
}

.navItems:hover {
    color: #BFC0C0
  }

img {
    width:90%;
    object-fit : cover
}

.singleImg {

    width:100%
    

}

.listContainer {
    border-radius: 5%;
    border: dashed;
    /* width: 750px; */
    background-color: #4F5D75;
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  
  }

.listDetails {

    padding: 20px;

}

.listPic{

    margin-top: 50px;
    margin-right: 150px;

}


.articleWrapper{

    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-flow:column;
    
}

.articleBody{

    grid-column-start: 2;
    margin: 20px;
    padding-bottom: 100px;


}

.articleDetails{

    grid-column-start: 1;
    padding:17px;
    border:dashed #FFFFFF;


}

.commentsContainer{

    display:grid;
    grid-template-columns: 75% 25%;
    grid-auto-flow:column;
    justify-content: center;
    list-style-type: none;
    padding:20px;
    margin-right:200px;
    border-bottom: dashed #BFC0C0;
}

.comDeets {

grid-column-start: 1;

}


.articleVote button{
    
    padding: 10px;
    margin:10px;
    background-color:#4F5D75

}



button:disabled{
    border: solid rgb(88, 29, 94);
}

button{
    border-radius: 5%;
}



.addCommentContainer{

    display:grid;
    grid-template-columns: 75% 25%;
    grid-auto-flow:column;
    justify-content: center;
    list-style-type: none;
    padding:20px;
    margin-left:40px;
    border-bottom: dashed #BFC0C0;
}

.addCommentInput{
    grid-column-start: 1;
    background-color: #384253;
    font-size: 20px;
    color:#FFFFFF
}

.addCommentDeets{
    grid-column-start: 2;
    margin:30px;
    background-color:#4F5D75

}

.topicWrapper {
    display: flex;
    border: solid cornsilk
    

}

.topicPs {

    margin: 20px;
    align-items: center;
    text-align: center;
    

}

.topics{
    border: solid;
    padding: 20px;
    border-radius: 9%;

}

.topics:hover {
    color: #BFC0C0
  }


